body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: #f4f4f4;
    color: #333;
}

header h1 {
    text-align: center;
    margin-bottom: 0.5cm;
}

#caja1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #ccc;
    padding: 20px;
    margin: 0 auto;
    width: 80%;
}

.mi {
    margin-left: auto;
    text-align: right;
}

.vi {
    margin-right: auto;
    text-align: left;
}

.ban {
    width: 50px;
    height: auto;
    margin: 0 10px;
}

@media (max-width: 768px) {
    #caja1 {
        flex-direction: column;
        align-items: flex-start;
    }

    .mi, .vi {
        margin: 10px 0;
    }

    .ban {
        margin: 5px 0;
    }
}

@media (min-width: 769px) {
    .mi, .vi {
        flex: 1;
    }
}


.ban {
    position: relative;
    top: 150px;
}

#caja2 {
    background: #ccc;
    padding: 20px;
    margin: 0.5cm auto 0;
    width: 80%;
    text-align: center;
}

#caja2 label {
    display: block;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
}
